         
         /* font-style-shared */
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}    
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main{
    background-color: #F5F8FF;
}


        /* header-styles */

.navigation-banner-container{
    background-image: url('Assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-logo{
    font-size: 40px;
    font-weight: 900;
    color: #4E47FF;
    cursor: pointer;
}
.nav-signup{
    margin-top: 20px;
    padding: 12px 30px;
}
.nav-signup button{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
.banner{
    text-align: center;
}
.about-banner{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.btn{
   background-color: #4E47FF;
   font-size: 16px;
   font-weight: bold;
   color: #FFFFFF;
   padding: 12px 35px;
   border-radius: 10px;
   cursor: pointer;
}

        /* Action Section style */
.action{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
}
.action-content-title{
    font-size: 42px;
    color: #252432;
    font-weight: bold;
}
.action-content-description{
    font-size: 24px;
    color: #252432a5;
    font-weight: 500;
}
.action-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
}
.action-image img{
    width: 350px;
    height: 255px;
    border-radius: 45px;
    margin-top: 60px;
}
        /* productive-user styles */
.productive-user{
    width: 1080px;
    height: 350px;
    margin: 70px auto;
    background-color: #E5E7FF;
    border-radius: 15px;
}        

.productive-user-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 15px;
}
.user-rate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    margin-top: 80px;
}
 .title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.sub-title{
    font-size: 18px;
    color: #252432a5;
    font-weight: 500;
    margin: 0;
    text-align: center;
}


          /* form-container styles */

.form-container{
    width: 1080px;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}        

.form-input-area{
  display: flex;
  flex-direction: column;  
  margin-top: 20px;
}
.form-input-area label{
    margin-top: 10px;
}
.form-input-area input{
    width: 350px;
    padding: 15px;
    border: 1px solid #a490906e;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;
}
.form-input-area textarea{
    border: 1px solid #a490906e;
    padding: 25px;
    margin-top: 5px;
}
.form-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8px;
}
.form-title h1{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

                        /* webflow-container style  */
.webflow-container{
    width: 1080px;
    margin: 50px auto;
    text-align: center;
}
.webflow-container img{
    margin-top: 30px;
    border-radius: 40px;
}
.webflow-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}
.webflow-sub-title{
    font-size: 22px;
    color: #252432a5;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}
.webflow-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
}

            /* footer styles */

.footer-content{
    text-align: center;
}            
.footer-title{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin: 0;
}
.footer-description{
    font-size: 22px;
    color: #252432a5;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.footer-nav li a{
    text-decoration: none;
    color: #232326db;
}
.footer-nav li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
.footer-nav li a:hover{
    color: #000000;
}

                /* button hover effect */

.form-btn:hover{
    background-color: #273c75;
} 
.btn:hover{
    background-color: #273c75;
}
.action-btn:hover{
    background-color: #273c75;
}
.webflow-btn:hover{
    background-color: #273c75;
}
.nav-signup button:hover{
    background-color: #273c75;
}


                    /* feedback container  */

.feedback-container{
    width: 1080px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}
.container-title{
    text-align: center;
}
.reviewer{
    display: flex;
    gap:15px;
}
.reviewer img{
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    margin-top: 4px
}

.feedback{
    background-color: #e5e7ff98;
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 8px;
}
.feedback-title{
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}
.feedback-review{
    font-size: 16px;
    color: #252432;
    font-weight: 500;
    text-align: left;
}
.reviewer-name{
    font-size: 14px;
    font-weight: 400;
}
.container-title{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-top: 100px;
}